name: $(TeamProject)_$(BuildDefinitionName)_$(SourceBranchName)_$(Date:yyyyMMdd)$(Rev:.r)

pool:
  vmImage: 'Ubuntu-16.04'

steps:

- task: NodeTool@0
  displayName: Install Node.js
  inputs:
    versionSpec: 10.x 

- script: |
    npm install
    npm run-script build
  displayName: API Build and Pack
  workingDirectory: api

- script: |
    npm link ../api
    npm install
    npm run-script build
  displayName: CLI Build and Pack
  workingDirectory: cli 

- task: CopyFiles@2
  displayName: Copy artifacts to staging
  inputs:
    contents: |
      'api/src/**/*'
      'api/dist/**/*'
      'api/package.json'
      'cli/src/**/*'
      'cli/src/**/*'
      'cli/package.json'
    targetFolder: $(Build.ArtifactStagingDirectory)/packages
  
- task: PublishPipelineArtifact@0
  displayName: Publish Artifacts
  inputs:
    artifactName: packages
    targetPath: $(Build.ArtifactStagingDirectory)/packages
